.spacer
.row-fluid.coloredrow
  .span7
    .hero-unit
      %h1 Current Players
      %br/
      %br/
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th
              Name
            %th
              Personal Record (W-L)
            %th
              Winning Percentage
          %tbody
            - @players.each do |player|
              %tr
                %td
                  = player.name
                %td
                  = "#{Game.where(winner: player.name).count} - #{Game.where(loser: player.name).count}"
                %td
                  = ((player.winning_pct * 100) * 10).round / 10.0
                  = "%"
  .span5
    .hero-unit
      %h1 Match Records
      %br/
      %br/
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th
              Winner
            %th
              Loser
            %th
              Score
          %tbody
            - Game.scoped.each do |game|
              %tr
                %td
                  = game.winner
                %td
                  = game.loser
                %td
                  = "#{game.winning_score} - #{game.losing_score}"

            %tr
              %td
                = link_to "Add new record", new_record_path
              %td
              %td
